/* Effet néon */
.neon-glow {
  text-shadow: 0 0 5px var(--neon-green), 0 0 9px var(--neon-green);
}

/* Bordure et glitch */
.neon-border {
  border: 2px solid rgba(0, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  position: absolute; /* Positionnez l'élément de glitch correctement */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Étendez à toutes les dimensions */
  pointer-events: none; /* Permet aux clics de passer à travers */
  z-index: 0; /* Mettez-le derrière le texte */
}

.animate-glitch {
  animation: glitch 1.5s infinite alternate;
}

.container-text-container-about {
  position: relative;
  height: 400px;
  padding-right: 16px;
  box-sizing: border-box;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-6px, 6px);
  }
  40% {
    transform: translate(6px, -6px);
  }
  60% {
    transform: translate(-6px, 6px);
  }
  80% {
    transform: translate(6px, -6px);
  }
  100% {
    transform: translate(0);
  }
}

.typing-effect {
  display: block;
  white-space: pre-wrap; /* Retours à la ligne automatiques */
  word-wrap: break-word;
  overflow-wrap: break-word;
  border-right: 2px solid var(--neon-green);
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

/* Visibilité progressive */
.invisible {
  display: none;
}
@media screen and (max-width: 1440px) {
  .container-text-container-about {
    height: 470px;
  }
}
@media screen and (max-width: 1024px) {
  .container-text-container-about {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .container-text-container-about {
    height: 600px;
  }
}
@media screen and (max-width: 480px) {
  .container-text-container-about {
    height: 750px;
  }
}
