/* Effet néon */
.neon-glow {
  text-shadow: 0 0 5px var(--neon-violet), 0 0 9px var(--neon-violet);
}

/* Bordure et glitch */
.neon-border {
  border: 2px solid var(--neon-violet);
  box-shadow: 0 0 10px var(--neon-violet);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 0;
}

/* Glitch */
.animate-glitch {
  animation: glitch 1.5s infinite alternate;
}

.container-text-container-about {
  position: relative;
  height: 400px;
  padding-right: 16px;
  box-sizing: border-box;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-6px, 6px);
  }
  40% {
    transform: translate(6px, -6px);
  }
  60% {
    transform: translate(-6px, 6px);
  }
  80% {
    transform: translate(6px, -6px);
  }
  100% {
    transform: translate(0);
  }
}
/* Typing effect */
.typing-effect {
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border-right: 2px solid var(--neon-violet);
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

/* Visibilité progressive */
.invisible {
  display: none;
}
@media screen and (max-width: 1440px) {
  .container-text-container-about {
    height: 470px;
  }
}
@media screen and (max-width: 1024px) {
  .container-text-container-about {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .container-text-container-about {
    height: 600px;
  }
}
@media screen and (max-width: 480px) {
  .container-text-container-about {
    height: 850px;
  }
}
