/* Couleurs pour chaque cards */
:root {
  --color1: rgb(0, 255, 221);
  --color2: rgb(255, 0, 128);
  --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
  --js1: #fbff00;
  --js2: #00fff7;
  --jsfront: url("/images/techskills/javascript.svg");
  --next1: #ff0073;
  --next2: #00fff7;
  --nextfront: url("/images/techskills/nextjs.svg");
  --html1: #ff6200;
  --html2: #ff0000;
  --htmlfront: url("/images/techskills/html.svg");
  --css1: #00b3ff;
  --css2: #1100ff;
  --cssfront: url("/images/techskills/css.svg");
  --sass1: #ff00ea;
  --sass2: #ff0062;
  --sassfront: url("/images/techskills/sass.svg");
  --sql1: #4800ff;
  --sql2: #00eaff;
  --sqlfront: url("/images/techskills/sql.svg");
  --node1: #7bff00;
  --node2: #00ff80;
  --nodefront: url("/images/techskills/nodejs.svg");
  --react1: #00e1ff;
  --react2: #00ff91;
  --reactfront: url("/images/techskills/reactjs.svg");
  --csharp1: #ea00ff;
  --csharp2: #6a00ff;
  --csharpfront: url("/images/techskills/csharp.svg");
  --asp1: #bb00ff;
  --asp2: #0400ff;
  --aspfront: url("/images/techskills/dotnet.svg");
  --ts1: #0400ff;
  --ts2: #00c3ff;
  --tsfront: url("/images/techskills/typescript.svg");
  --drinksaver1: #d33500;
  --drinksaver2: #3a0053;
  --drinksaverfront: url("/images/techskills/drinksaver.jpg");
  --pokemon1: #000ace;
  --pokemon2: #999900;
  --pokemonfront: url("/images/techskills/pokemon.svg");
}

.card {
  width: 170px;
  height: 170px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  box-shadow: 0 0 5px -5px var(--color1), 0 0 5px -5px var(--color2),
    0 0 5px -5px transparent, 0 0 5px -5px transparent,
    0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #040712;
  background-image: var(--front);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}
/* Écrans moyens */
@media screen and (max-width: 1024px) {
  .card {
    width: 150px;
    height: 150px;
  }
}
/* Tablettes */
@media screen and (max-width: 768px) {
  .card {
    width: 130px;
    height: 130px;
  }
}
/* Mobiles */
@media screen and (max-width: 480px) {
  .card {
    width: 100px;
    height: 100px;
  }
}

.card:hover {
  box-shadow: -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}
/* Transmission couleur et image à chaque card */
.card.html {
  --color1: var(--html1);
  --color2: var(--html2);
  --front: var(--htmlfront);
}
.card.html:after {
  background-position: 20% 20%;
}

.card.css {
  --color1: var(--css1);
  --color2: var(--css2);
  --front: var(--cssfront);
}
.card.sass {
  --color1: var(--sass1);
  --color2: var(--sass2);
  --front: var(--sassfront);
}

.card.js {
  --color1: var(--js1);
  --color2: var(--js2);
  --front: var(--jsfront);
}
.card.next {
  --color1: var(--next1);
  --color2: var(--next2);
  --front: var(--nextfront);
}
.card.sql {
  --color1: var(--sql1);
  --color2: var(--sql2);
  --front: var(--sqlfront);
}
.card.node {
  --color1: var(--node1);
  --color2: var(--node2);
  --front: var(--nodefront);
}
.card.react {
  --color1: var(--react1);
  --color2: var(--react2);
  --front: var(--reactfront);
}
.card.csharp {
  --color1: var(--csharp1);
  --color2: var(--csharp2);
  --front: var(--csharpfront);
}
.card.asp {
  --color1: var(--asp1);
  --color2: var(--asp2);
  --front: var(--aspfront);
}
.card.ts {
  --color1: var(--ts1);
  --color2: var(--ts2);
  --front: var(--tsfront);
}
.card.drinksaver {
  --color1: var(--drinksaver1);
  --color2: var(--drinksaver2);
  --front: var(--drinksaverfront);
  background-size: cover !important;
  width: 250px !important;
  height: 250px !important;
}
.card.pokemon {
  --color1: var(--pokemon1);
  --color2: var(--pokemon2);
  --front: var(--pokemonfront);
  width: 250px !important;
  height: 250px !important;
}
.container-title-project {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: rgba(1, 2, 16, 0.827);
}
.title-project {
  font-family: "Zen Dots", serif;
  font-stretch: condensed;
}
/* Changement de position du Gif sur les cards pour pas dupliquer le même rendu */
.card.html:after {
  background-position: 20% 20%;
}
.card.css:after {
  background-position: 40% 40%;
}
.card.sass:after {
  background-position: 60% 60%;
}
.card.js:after {
  background-position: 20% 20%;
}
.card.react:after {
  background-position: 30% 30%;
}
.card.next:after {
  background-position: 20% 20%;
}
.card.sql:after {
  background-position: 40% 40%;
}
.card.node:after {
  background-position: 60% 60%;
}

.card.csharp:after {
  background-position: 20% 20%;
}
.card.asp:after {
  background-position: 40% 40%;
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 25%,
    transparent 47%,
    transparent 53%,
    var(--color2) 75%,
    transparent 100%
  );
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.card:after {
  opacity: 1;
  background-image: url("/images/glitch.gif"),
    linear-gradient(
      125deg,
      #ff008450 15%,
      #fca40040 30%,
      #ffff0030 40%,
      #00ff8a20 60%,
      #00cfff40 70%,
      #cc4cfa50 85%
    );
  background-position: 50% 50%;
  background-size: 100%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
  background-image: none;
}

.card.active,
.card:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
  animation: none;
  background-image: linear-gradient(
    110deg,
    transparent 25%,
    var(--color1) 48%,
    var(--color2) 52%,
    transparent 75%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  animation: none;
  transition: none;
}

.card.animated {
  transition: none;
  animation: holoCard 12s ease 0s 1;
  &:before {
    transition: none;
    animation: holoGradient 12s ease 0s 1;
  }
  &:after {
    transition: none;
    animation: holoSparkle 12s ease 0s 1;
  }
}

@keyframes holoSparkle {
  0%,
  100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%,
  16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoGradient {
  0%,
  100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%,
  9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%,
  17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%,
  39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}

@keyframes holoCard {
  0%,
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%,
  8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%,
  16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%,
  38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}

.operator {
  display: inline-block;
  vertical-align: middle;
  font-size: 6vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px);
  padding: 30px;
}

@media screen and (min-width: 600px) {
  .cards {
    flex-direction: row;
  }
}

.cards .card {
  &:nth-child(2) {
    &,
    &:before,
    &:after {
      animation-delay: 0.25s;
    }
  }
  &:nth-child(3) {
    &,
    &:before,
    &:after {
      animation-delay: 0.5s;
    }
  }
  &:nth-child(4) {
    &,
    &:before,
    &:after {
      animation-delay: 0.75s;
    }
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
