@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap");
@import "header.css";
@import "navigation.css";
@import "about.css";
@import "competences.css";
@import "experiences.css";
@import "contact.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorfond1: rgba(109, 53, 105, 0.5);
  --colorfond2: rgb(21, 16, 72);
  --neon-violet: #ce9ffb;
  --neon-rose: #e4cafd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  overflow-x: hidden;
  background-image: linear-gradient(
    rgb(16, 12, 16),
    rgb(21, 17, 22),
    rgb(9, 0, 14),
    rgb(8, 8, 8),
    rgb(24, 17, 27)
  );
  background-repeat: repeat;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.text-shadow {
  text-shadow: 0 0 5px black, 0 0 5px black;
}
.font-title {
  font-family: "Zen Dots", serif;
  font-stretch: condensed;
  font-weight: 400;
  font-size: 4rem;
}
.font-second-title {
  font-family: "Zen Dots", serif;
  font-stretch: condensed;
  font-weight: 400;
  font-size: 2.5rem;
}
.font-basic-tall {
  font-family: "Genos", serif;
  font-weight: 400;
  font-size: 2rem;
}

.font-basic {
  font-family: "Genos", serif;
  font-weight: 400;
  font-size: 1.2rem;
}
.font-navigation {
  font-family: "Genos", serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.button {
  align-items: center;
  border-style: solid;
  border-width: 0 20px;
  cursor: pointer;
  display: inline-flex;
  height: 60px;
  justify-content: center;
  min-width: 250px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-user-select: none;
  user-select: none;
}
.puce--violet {
  border-image: url(/images/button.svg) 0 20 fill;
  color: var(--neon-violet);
  padding: 10px 30px;
}

.scale {
  transition: transform 0.2s ease-in-out;
}
.scale:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px #b300ff, 0 0 10px #b300ff;
}

/* Écrans moyens */
@media screen and (max-width: 1024px) {
  .font-title {
    font-size: 3rem;
  }
  .font-basic {
    font-size: 1.1rem;
  }
  .font-second-title {
    font-size: 2rem;
  }
  .font-basic-tall {
    font-size: 1.5rem;
  }
  .font-navigation {
    font-size: 1.3rem;
  }
}

/* Tablettes */
@media screen and (max-width: 768px) {
  .font-title {
    font-size: 2.5rem;
  }
  .font-basic {
    font-size: 1rem;
  }
  .font-second-title {
    font-size: 1.5rem;
  }
  .font-basic-tall {
    font-size: 1.3rem;
  }
}

/* Mobiles */
@media screen and (max-width: 480px) {
  .font-title {
    font-size: 2rem;
  }
  .font-basic {
    font-size: 1rem;
  }
  .font-second-title {
    font-size: 1.2rem;
  }
  .font-basic-tall {
    font-size: 1.2rem;
  }
}
