@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap");
@import "header.css";
@import "navigation.css";
@import "about.css";
@import "competences.css";
@import "experiences.css";
@import "contact.css";
@import "projects.css";
@import "cv.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --colorfond1: rgba(109, 53, 105, 0.5);
  --colorfond2: rgb(21, 16, 72);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  overflow-x: hidden;
  background-image: linear-gradient(
    rgb(113, 45, 109) 10%,
    rgb(245, 227, 255),
    rgb(137, 84, 130),
    rgb(245, 227, 255)
  );
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.font-title {
  font-family: "Zen Dots", serif;
  font-stretch: condensed;
  font-weight: 400;
  font-size: 4rem;
  text-shadow: 1px 1px 6px rgb(0, 0, 0);
}
.font-basic {
  font-family: "Genos", serif;
  font-weight: 400;
}
