@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "header.css";
@import "navigation.css";
@import "about.css";
@import "competences.css";
@import "experiences.css";
@import "contact.css";
@import "projects.css";
@import "cv.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --colorfond1: rgba(109, 53, 105, 0.5);
  --colorfond2: rgb(21, 16, 72);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.font-title {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 4rem;
}
.font-basic {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
.box {
  background-color: rgba(0, 0, 0, 0.66);
  color: white;
  border: solid 2px rgb(252, 215, 255);
  box-shadow: 0 0 5px 1px rgba(247, 164, 255, 0.5);
}
