@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap");
@import "header.css";
@import "navigation.css";
@import "about.css";
@import "competences.css";
@import "experiences.css";
@import "contact.css";
@import "projects.css";
@import "cv.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --colorfond1: rgba(109, 53, 105, 0.5);
  --colorfond2: rgb(21, 16, 72);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  overflow-x: hidden;
  background-image: linear-gradient(
    rgb(0, 0, 0),
    rgb(21, 17, 22),
    rgb(9, 0, 14),
    rgb(1, 1, 1),
    rgb(13, 1, 20)
  );
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.font-title {
  font-family: "Zen Dots", serif;
  font-stretch: condensed;
  font-weight: 400;
  font-size: 4rem;
  text-shadow: 1px 1px 6px rgb(0, 0, 0);
}
.font-basic {
  font-family: "Genos", serif;
  font-weight: 400;
}

.button {
  align-items: center;
  border-style: solid;
  border-width: 0 20px;
  cursor: pointer;
  display: inline-flex;
  height: 60px;
  justify-content: center;
  min-width: 250px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-user-select: none;
  user-select: none;
}
.button--black {
  border-image: url(/images/button.svg) 0 20 fill;
  color: #b300ff;
  padding: 10px 30px;
}
.button--cyan {
  border-image: url(/images/button-cyan.svg) 0 20 fill;
}
.scale {
  transition: transform 0.2s ease-in-out;
}
.scale:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px #b300ff, 0 0 10px #b300ff;
}
