:root {
  --colorone: rgba(178, 249, 252, 0.751);
  --colortwo: rgba(172, 71, 255, 0.848);
}

/* Common styles for card-header and card-header2 */
.card-header,
.card-header2,
.card-header3 {
  position: relative;
  z-index: 10;
  touch-action: none;
  will-change: transform, filter;
  background-image: linear-gradient(
      95deg,
      rgba(0, 0, 0, 0.963),
      transparent 60%,
      rgba(0, 0, 0, 0.963)
    ),
    url("/images/header.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.card-header2 {
  background-image: linear-gradient(
      95deg,
      rgba(0, 0, 0, 0.934),
      transparent 60%,
      rgba(0, 0, 0, 0.775)
    ),
    url("/images/header2.webp");
  transform: saturate(3) contrast(1.2);
}
.card-header3 {
  background-image: linear-gradient(
      95deg,
      rgba(0, 0, 0, 0.934),
      transparent 60%,
      rgba(0, 0, 0, 0.775)
    ),
    url("/images/header3.webp");
  transform: saturate(3) contrast(1.2);
}

/* Before and after pseudo-elements */
.card-header:before,
.card-header2:before,
.card-header3:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  background-position: 50% 50%;
  background-size: 200% 200%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--colorone) 25%,
    transparent 47%,
    var(--colortwo) 53%,
    transparent 100%
  );
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

/* Animation for text */
.header-title,
.header-subtitle,
.header-p,
.container-text-header {
  animation: translateX 1.5s forwards;
  text-shadow: 0 0 10px 10px rgb(0, 0, 0);
}

.header-subtitle {
  animation-duration: 1.8s;
}

.header-p {
  animation-duration: 2s;
}

.container-text-header {
  transform: translateX(200%);
  animation-delay: 0.5s;
  padding: 3rem;
}

/* Animation for transitions */
.card-header.active:before,
.card-header:before {
  animation: none;
  background-image: linear-gradient(
    110deg,
    transparent 25%,
    var(--colorone) 40%,
    var(--colortwo) 52%,
    transparent 75%
  );
  background-position: 50% 50%;
  background-size: 100%;
}

/* Keyframes for animations */
@keyframes translateX {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
