:root {
  --colorone: rgba(178, 249, 252, 0.751);
  --colortwo: rgba(172, 71, 255, 0.848);
}
#header {
  pointer-events: none;
}
/* Common styles for card-header and card-header2 */
.card-header,
.card-header2,
.card-header3 {
  position: relative;
  z-index: 10;
  touch-action: none;
  will-change: transform, filter;
  background-image: linear-gradient(
      95deg,
      rgb(7, 0, 10),
      transparent 60%,
      rgb(7, 0, 10)
    ),
    url("/images/header.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.card-header2,
.card-header3 {
  background-image: linear-gradient(
      95deg,
      rgb(7, 0, 10),
      transparent 60%,
      rgb(7, 0, 10)
    ),
    url("/images/header2.webp");
  transform: saturate(5) contrast(3);
}
.card-header3 {
  background-image: linear-gradient(
      95deg,
      rgb(7, 0, 10),
      transparent 60%,
      rgb(7, 0, 10)
    ),
    url("/images/header3.webp");
  transform: saturate(3) contrast(1.2);
}

/* Before and after pseudo-elements */
.card-header:before,
.card-header2:before,
.card-header3:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  background-position: 50% 50%;
  background-size: 200% 200%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--colorone) 25%,
    transparent 47%,
    var(--colortwo) 53%,
    transparent 100%
  );
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.container-text-header {
  padding: 3rem;
  top: 35%;
  left: 3%;
}
.typing-effect-header {
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Animation for transitions */
.card-header.active:before,
.card-header:before {
  animation: none;
  background-image: linear-gradient(
    110deg,
    rgb(7, 0, 10),
    var(--colorone) 45%,
    var(--colortwo) 52%,
    rgb(7, 0, 10)
  );
  background-position: 50% 50%;
  background-size: 100%;
}

/* Keyframes for animations */
@keyframes translateX {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
