.navigation {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.686);
  z-index: 20;
  height: 60px;
  display: flex;
  align-items: center;
}

.navigation-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: max-height 0.3s ease-in-out;
}

.menu-toggle {
  display: flex; /* Utiliser flexbox pour l'alignement */
  flex-wrap: wrap; /* Permettre l'enveloppement des carrés */
  width: 44px; /* Largeur du bouton */
  height: 44px; /* Hauteur du bouton */
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 20;
  padding: 5px; /* Ajouter un peu d'espace autour */
}

.square {
  width: 6px; /* Largeur des petits carrés */
  height: 6px; /* Hauteur des petits carrés */
  background-color: #00fff2cc; /* Couleur néon */
  margin: 2.5px; /* Espacement entre les carrés */
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 255, 242, 0.8),
    /* Ombres pour effet néon */ 0 0 10px rgba(0, 255, 242, 0.8),
    0 0 15px rgba(0, 255, 242, 0.8);
}

/* Effet de pulsation sur hover */
.menu-toggle:active,
.menu-toggle:hover {
  transform: scale(1.2); /* Augmenter la taille au survol */
}

.navigation-link.active {
  color: #00fff2cc !important;
  text-shadow: 0 0 10px rgba(0, 255, 242, 0.8), 0 0 20px rgba(0, 255, 242, 0.8),
    0 0 30px rgba(0, 255, 242, 0.8);
}

@media (max-width: 768px) {
  .navigation-list {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.686);
    width: 100%;
    position: absolute;
    bottom: 60px;
  }
  .container-button-nav {
    width: 100%;
  }

  .navigation-list.open {
    max-height: 350px;
  }

  .menu-toggle {
    display: flex;
  }
}

.navigation-list li:last-child {
  padding-bottom: 18px;
}

@keyframes moveBall {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-30px);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateY(-30px);
  }
}

.animate-ball {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background-color: rgba(0, 255, 242, 0.8);
  box-shadow: 0 0 10px rgba(0, 255, 242, 0.8), 0 0 20px rgba(0, 255, 242, 0.8),
    0 0 30px rgba(0, 255, 242, 0.8), 0 0 40px rgba(0, 255, 242, 0.8),
    0 0 50px rgba(0, 255, 242, 0.8);
  border-radius: 50%;
  z-index: 5;
  animation: moveBall 2s linear infinite;
  opacity: 0;
}

.relative.active .animate-ball {
  opacity: 1;
}
